.section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 120px;
    margin-left: 20px;
}

.main {
    display: flex;
}

.inbox_main {
    border: 0px solid yellow;
    margin-left: 60px;
    width: 70%;
    height: 30rem;
}